main.aux
main.fls
main.log
main.out
main.fdb_latexmk
main.synctex.gz*
main.pdf
main.toc

chapters/*.aux
chapters/*.log
chapters/*.out
chapters/*.fdb_latexmk
chapters/*.synctex.gz*
chapters/*.toc
chapters/*.pdf
chapters/*.fls